.fp-form-design {
  width: 100%;
  background: lightyellow;
  display: flex;
  flex-direction: column;
}

.fp-form-design__row {
  width: 100%;
}

.fp-form-design__row:nth-child(even) {
  background: lightskyblue;
}

.fp-form-design__row-main-content {
  display: flex;
  justify-content: stretch;
}

.fp-form-design__row-content {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  align-content: stretch;
}

.fp-form-design__row-content input, .fp-form-design__row-content select, .fp-form-design__row-content label {
  width: 10%;
  box-sizing: border-box;
  height: 30px;
  line-height: 0.9rem;
}
.fp-form-design__row-content input, .fp-form-design__row-content select {
  text-align: center;
  background: transparent;
  border: 1px solid darkgray;
}
.fp-form-design__row-content select {
  text-align-last: center;
}
.fp-form-design__row-content label {
  display: flex;
  align-items: center;
}

.fp-form-design__buttons-block {
  display: flex;
  justify-content: stretch;
}

.fp-form-design__button {
  margin-top: 5px;
  height: 30px;
  flex-grow: 1;
}

.fp-form-design__section-numbers-title {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid darkgray;
}

#__order-title__ {
  display: flex;
  justify-content: stretch;
}
#__order-title__ input {
  flex-grow: 2;
}
